<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<properties resource="database.properties" />

    <settings>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="cacheEnabled" value="true"/>
    </settings>
   
    <typeAliases>
		<typeAlias alias="Fabric"  type="com.csc.admin.model.Fabric"/>
    </typeAliases>

    <environments default="admin">
        <environment id="admin">
		    <transactionManager type="JDBC"/>
		    <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driverClassName}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
        
    <!-- Identify all SQL Map XML files to be loaded by this SQL map. Relative to classpath -->
    <mappers>
        <mapper resource="com/csc/admin/data/map/sql/FabricMap.xml"/>
    </mappers>
</configuration>